# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
*.egg-info/
*.egg

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3

# Media files (user uploads)
media/
media/students/

# VS Code settings
.vscode/

# MacOS files
.DS_Store

# Windows files
Thumbs.db

# Ignore sound files if not needed
*.wav
